<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js CDN App</title>
  <!-- Include Vue.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

 
 

<div id="app">
  <h1 class="text-3xl text-indigo-600 m-4 ">Tasks</h1>

  <input type="text" class=" border-indigo-400 border-b-4" v-model="newTask">
  <button @click="addTask" class="px-4 m-4 py-2 bg-indigo-600 text-white rounded-xl hover:bg-sky-300 transition duration-800">Add item</button>

<!---
<h3>{{ newTask }}</h3>
<h3>{{ newTask }}</h3>
<h3>{{ newTask }}</h3>
---->

  <div>
    <ul>
      <li v-for="(task, index) in tasks" :key="index">
<span class="block bg-green-100 px-4 rounded-md w-1/2 m-3">{{ task}}</span>

      </li>
    </ul>
  </div>
</div>


  <script>
   const {createApp, ref} = Vue;

   createApp({
    setup(){
      const newTask = ref("");
      const tasks = ref([]);

      const addTask = () => {
        if (newTask.value.trim("") !== ""){
          tasks.value.push(newTask.value);
        } else {
          alert("Please enter some value");
        }
  
      }

      return {newTask, tasks, addTask}
    }



   }).mount("#app")
   
  </script>


</body>
</html>
